{% load static %}

<html lang="en" class="h-100"><head>
    <meta charset="utf-8">
    <title>Log In</title>
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "ask.css" %}" rel="stylesheet">
<link rel="icon" href="{% static "eye.png" %}" type="image/x-icon">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    .pic{
        float:left;
        margin:0px 3px;
    }
    </style>
    <link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
{% include "shablon/login1.html" %}
<div>
<h4 style="
    margin: 155px 95px 0px;
    /* float: left; */
    display: inline-block;
">Log In</h4><p style="
    margin: -25px 250px;
"></p>
      </div>
    <div style="
    align: right;
    margin: 59px 1300px 0px 1100px;
    height: 50px;
    width: 550;
">
        <h4>Popular Tags</h4>
        <p><a style="color:black" href="">perl</a> <a style="color:red" href="">python</a> <a style="color:black" href="">Technopark</a></p>
         <p><a style="color:red" href="">MySQL</a> <a style="color:green" href="">django</a></p>
         <p><a style="color:black" href="">Mail.Ru</a> <a style="color:black" href="">Voloshin</a> <a style="color:orange" href="">Firefox</a></p>
		 <h4 style="
    margin: 25px 0px;">Best Members</h4>
		 <ul>
		 <li><a href="">Mr. Freeman</a></li>
		 <li><a href="">Dr. House</a></li>
		 <li><a href="">Bender</a></li>
		 <li><a href="">Queen Victoria</a></li>
		 <li><a href="">Kristina Alaya</a></li>
		 </ul>
    </div>
	<div class="question" style="
    background: whitesmoke;
">
    <form action="" method="POST">
    <p style="
    margin: 15px 50px;
">Login:<input type="text" name="title" placeholder="Enter your login here" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto; width: 300px; margin: 15px 55px; border-radius: 20px; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;);"></p><br>
    <p style="
    margin: 5px 50px;
">Password:<input type="password" name="password" placeholder="Input password" style="margin: -27px 28px; height: 30px; width: 300px; border-radius: 20px; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"></p><br>
<input type="submit" name="submit" value="Ask!" class="btn btn-success" style="
    margin: -10px 50px;
"><br>
  </form>
</div>
<footer class="foo">
<hr style="
    margin: 200 0 0 0;
">
<p style="text-align:center;color:black;margin: 0.1px;">@Developed by APO-13</p>
</footer>
</body></html>